.pokemon-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .pokemon-image {
    width: 100px;
    height: 100px;
    transition: transform 0.2s;
  }
  
  .pokemon-image:hover {
    transform: scale(1.1);
  }
  
  .bounding-box {
    position: relative;
    width: calc(100vw - 200px);
    height: calc(100vh - 200px);
    top: 0px;
    left: 50px;
    /* border: 2px dashed rgba(0, 0, 0, 0.5); Optional: Add a dashed border for visibility */
    background-color: transparent; /* Ensure the background is transparent */
}

.leaderboard-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 2px solid black;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-height: 80vh; /* Set maximum height */
    max-width: 80vw;  /* Set maximum width */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: auto; /* Enable horizontal scrolling */
  }

